*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --cinza-menu: #D9D9D9;
    --cinza-fundo: #E7E7E7;
    --azul: #04C9F4;
    --vermelho: #F40404;
    --branco: #FFFFFF;
}

body{
    background-color: var(--cinza-fundo);
    min-height: 100vh;
    
}

main{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

form{

    background-color: var(--cinza-menu);
    box-shadow: 1px 5px 16px -9px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 70px 0;

}

#Logo{
    background-color: var(--branco);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

input{
    border: 0;
    width: 300px;
    height: 40px;
    padding: 20px;

}

button{
    color: var(--branco);
    border: 0;
    background-color: var(--azul);
    width: 200px;
    height: 50px;

}

header{
    text-align: center;
    padding: 15px;
    background-color: var(--branco);
    color: var(--azul);

}